<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="generateImage" type="xboolean" value="false"/>
        <entry key="width" type="xint" value="800"/>
        <entry key="height" type="xint" value="600"/>
    </config>
    <config key="view">
        <config key="xAxisColumn">
            <entry key="selected" type="xstring" value="Date"/>
            <config key="compatibleTypes_Internals">
                <entry key="array-size" type="xint" value="4"/>
                <entry key="0" type="xstring" value="org.knime.core.data.time.localdate.LocalDateValue"/>
                <entry key="1" type="xstring" value="org.knime.core.data.DataValue"/>
                <entry key="2" type="xstring" value="org.knime.core.data.BoundedValue"/>
                <entry key="3" type="xstring" value="org.knime.core.data.StringValue"/>
            </config>
        </config>
        <config key="yAxisColumn">
            <config key="selected_Internals">
                <entry key="array-size" type="xint" value="2"/>
                <entry key="0" type="xstring" value="AAPL"/>
                <entry key="1" type="xstring" value="NVDA"/>
            </config>
            <entry key="mode" type="xstring" value="MANUAL"/>
            <config key="patternFilter">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="isCaseSensitive" type="xboolean" value="false"/>
                <entry key="isInverted" type="xboolean" value="false"/>
            </config>
            <config key="manualFilter">
                <config key="manuallySelected">
                    <entry key="array-size" type="xint" value="0"/>
                </config>
                <config key="manuallyDeselected">
                    <entry key="array-size" type="xint" value="489"/>
                    <entry key="0" type="xstring" value="A"/>
                    <entry key="1" type="xstring" value="ABBV"/>
                    <entry key="2" type="xstring" value="ABEV"/>
                    <entry key="3" type="xstring" value="ABT"/>
                    <entry key="4" type="xstring" value="ACGL"/>
                    <entry key="5" type="xstring" value="ACN"/>
                    <entry key="6" type="xstring" value="ADBE"/>
                    <entry key="7" type="xstring" value="ADI"/>
                    <entry key="8" type="xstring" value="ADM"/>
                    <entry key="9" type="xstring" value="ADP"/>
                    <entry key="10" type="xstring" value="ADSK"/>
                    <entry key="11" type="xstring" value="AEE"/>
                    <entry key="12" type="xstring" value="AEM"/>
                    <entry key="13" type="xstring" value="AEP"/>
                    <entry key="14" type="xstring" value="AFL"/>
                    <entry key="15" type="xstring" value="AIG"/>
                    <entry key="16" type="xstring" value="AJG"/>
                    <entry key="17" type="xstring" value="ALL"/>
                    <entry key="18" type="xstring" value="ALNY"/>
                    <entry key="19" type="xstring" value="AMAT"/>
                    <entry key="20" type="xstring" value="AMD"/>
                    <entry key="21" type="xstring" value="AME"/>
                    <entry key="22" type="xstring" value="AMGN"/>
                    <entry key="23" type="xstring" value="AMP"/>
                    <entry key="24" type="xstring" value="AMT"/>
                    <entry key="25" type="xstring" value="AMZN"/>
                    <entry key="26" type="xstring" value="ANET"/>
                    <entry key="27" type="xstring" value="ANSS"/>
                    <entry key="28" type="xstring" value="AON"/>
                    <entry key="29" type="xstring" value="APD"/>
                    <entry key="30" type="xstring" value="APH"/>
                    <entry key="31" type="xstring" value="APO"/>
                    <entry key="32" type="xstring" value="APTV"/>
                    <entry key="33" type="xstring" value="ARES"/>
                    <entry key="34" type="xstring" value="ARGX"/>
                    <entry key="35" type="xstring" value="ASML"/>
                    <entry key="36" type="xstring" value="AVB"/>
                    <entry key="37" type="xstring" value="AVGO"/>
                    <entry key="38" type="xstring" value="AWK"/>
                    <entry key="39" type="xstring" value="AXP"/>
                    <entry key="40" type="xstring" value="AZN"/>
                    <entry key="41" type="xstring" value="AZO"/>
                    <entry key="42" type="xstring" value="BA"/>
                    <entry key="43" type="xstring" value="BABA"/>
                    <entry key="44" type="xstring" value="BAC"/>
                    <entry key="45" type="xstring" value="BBD"/>
                    <entry key="46" type="xstring" value="BBVA"/>
                    <entry key="47" type="xstring" value="BCE"/>
                    <entry key="48" type="xstring" value="BCS"/>
                    <entry key="49" type="xstring" value="BDX"/>
                    <entry key="50" type="xstring" value="BGNE"/>
                    <entry key="51" type="xstring" value="BHP"/>
                    <entry key="52" type="xstring" value="BIDU"/>
                    <entry key="53" type="xstring" value="BIIB"/>
                    <entry key="54" type="xstring" value="BK"/>
                    <entry key="55" type="xstring" value="BKNG"/>
                    <entry key="56" type="xstring" value="BKR"/>
                    <entry key="57" type="xstring" value="BLK"/>
                    <entry key="58" type="xstring" value="BMO"/>
                    <entry key="59" type="xstring" value="BMY"/>
                    <entry key="60" type="xstring" value="BN"/>
                    <entry key="61" type="xstring" value="BNS"/>
                    <entry key="62" type="xstring" value="BP"/>
                    <entry key="63" type="xstring" value="BR"/>
                    <entry key="64" type="xstring" value="BRO"/>
                    <entry key="65" type="xstring" value="BSBR"/>
                    <entry key="66" type="xstring" value="BSX"/>
                    <entry key="67" type="xstring" value="BTI"/>
                    <entry key="68" type="xstring" value="BUD"/>
                    <entry key="69" type="xstring" value="BX"/>
                    <entry key="70" type="xstring" value="C"/>
                    <entry key="71" type="xstring" value="CAH"/>
                    <entry key="72" type="xstring" value="CAT"/>
                    <entry key="73" type="xstring" value="CB"/>
                    <entry key="74" type="xstring" value="CBRE"/>
                    <entry key="75" type="xstring" value="CCEP"/>
                    <entry key="76" type="xstring" value="CCI"/>
                    <entry key="77" type="xstring" value="CCJ"/>
                    <entry key="78" type="xstring" value="CCL"/>
                    <entry key="79" type="xstring" value="CDNS"/>
                    <entry key="80" type="xstring" value="CDW"/>
                    <entry key="81" type="xstring" value="CHD"/>
                    <entry key="82" type="xstring" value="CHT"/>
                    <entry key="83" type="xstring" value="CHTR"/>
                    <entry key="84" type="xstring" value="CI"/>
                    <entry key="85" type="xstring" value="CL"/>
                    <entry key="86" type="xstring" value="CM"/>
                    <entry key="87" type="xstring" value="CMCSA"/>
                    <entry key="88" type="xstring" value="CME"/>
                    <entry key="89" type="xstring" value="CMG"/>
                    <entry key="90" type="xstring" value="CMI"/>
                    <entry key="91" type="xstring" value="CNC"/>
                    <entry key="92" type="xstring" value="CNI"/>
                    <entry key="93" type="xstring" value="CNQ"/>
                    <entry key="94" type="xstring" value="COF"/>
                    <entry key="95" type="xstring" value="COP"/>
                    <entry key="96" type="xstring" value="COR"/>
                    <entry key="97" type="xstring" value="COST"/>
                    <entry key="98" type="xstring" value="CP"/>
                    <entry key="99" type="xstring" value="CPRT"/>
                    <entry key="100" type="xstring" value="CQP"/>
                    <entry key="101" type="xstring" value="CRH"/>
                    <entry key="102" type="xstring" value="CRM"/>
                    <entry key="103" type="xstring" value="CSCO"/>
                    <entry key="104" type="xstring" value="CSGP"/>
                    <entry key="105" type="xstring" value="CSX"/>
                    <entry key="106" type="xstring" value="CTAS"/>
                    <entry key="107" type="xstring" value="CTRA"/>
                    <entry key="108" type="xstring" value="CTSH"/>
                    <entry key="109" type="xstring" value="CVE"/>
                    <entry key="110" type="xstring" value="CVS"/>
                    <entry key="111" type="xstring" value="CVX"/>
                    <entry key="112" type="xstring" value="D"/>
                    <entry key="113" type="xstring" value="DAL"/>
                    <entry key="114" type="xstring" value="DB"/>
                    <entry key="115" type="xstring" value="DD"/>
                    <entry key="116" type="xstring" value="DE"/>
                    <entry key="117" type="xstring" value="DELL"/>
                    <entry key="118" type="xstring" value="DEO"/>
                    <entry key="119" type="xstring" value="DFS"/>
                    <entry key="120" type="xstring" value="DG"/>
                    <entry key="121" type="xstring" value="DHI"/>
                    <entry key="122" type="xstring" value="DHR"/>
                    <entry key="123" type="xstring" value="DIS"/>
                    <entry key="124" type="xstring" value="DLR"/>
                    <entry key="125" type="xstring" value="DLTR"/>
                    <entry key="126" type="xstring" value="DOV"/>
                    <entry key="127" type="xstring" value="DTE"/>
                    <entry key="128" type="xstring" value="DUK"/>
                    <entry key="129" type="xstring" value="DVN"/>
                    <entry key="130" type="xstring" value="DXCM"/>
                    <entry key="131" type="xstring" value="E"/>
                    <entry key="132" type="xstring" value="EA"/>
                    <entry key="133" type="xstring" value="EBAY"/>
                    <entry key="134" type="xstring" value="EC"/>
                    <entry key="135" type="xstring" value="ECL"/>
                    <entry key="136" type="xstring" value="ED"/>
                    <entry key="137" type="xstring" value="EFX"/>
                    <entry key="138" type="xstring" value="EIX"/>
                    <entry key="139" type="xstring" value="EL"/>
                    <entry key="140" type="xstring" value="ELP"/>
                    <entry key="141" type="xstring" value="ELV"/>
                    <entry key="142" type="xstring" value="EMR"/>
                    <entry key="143" type="xstring" value="ENB"/>
                    <entry key="144" type="xstring" value="EOG"/>
                    <entry key="145" type="xstring" value="EPD"/>
                    <entry key="146" type="xstring" value="EQIX"/>
                    <entry key="147" type="xstring" value="EQNR"/>
                    <entry key="148" type="xstring" value="EQR"/>
                    <entry key="149" type="xstring" value="ES"/>
                    <entry key="150" type="xstring" value="ET"/>
                    <entry key="151" type="xstring" value="ETN"/>
                    <entry key="152" type="xstring" value="ETR"/>
                    <entry key="153" type="xstring" value="EW"/>
                    <entry key="154" type="xstring" value="EXC"/>
                    <entry key="155" type="xstring" value="EXR"/>
                    <entry key="156" type="xstring" value="F"/>
                    <entry key="157" type="xstring" value="FANG"/>
                    <entry key="158" type="xstring" value="FAST"/>
                    <entry key="159" type="xstring" value="FCNCA"/>
                    <entry key="160" type="xstring" value="FCX"/>
                    <entry key="161" type="xstring" value="FDX"/>
                    <entry key="162" type="xstring" value="FE"/>
                    <entry key="163" type="xstring" value="FERG"/>
                    <entry key="164" type="xstring" value="FI"/>
                    <entry key="165" type="xstring" value="FICO"/>
                    <entry key="166" type="xstring" value="FIS"/>
                    <entry key="167" type="xstring" value="FITB"/>
                    <entry key="168" type="xstring" value="FMX"/>
                    <entry key="169" type="xstring" value="FNV"/>
                    <entry key="170" type="xstring" value="FTNT"/>
                    <entry key="171" type="xstring" value="FTS"/>
                    <entry key="172" type="xstring" value="FTV"/>
                    <entry key="173" type="xstring" value="GD"/>
                    <entry key="174" type="xstring" value="GE"/>
                    <entry key="175" type="xstring" value="GIB"/>
                    <entry key="176" type="xstring" value="GILD"/>
                    <entry key="177" type="xstring" value="GIS"/>
                    <entry key="178" type="xstring" value="GLW"/>
                    <entry key="179" type="xstring" value="GM"/>
                    <entry key="180" type="xstring" value="GMAB"/>
                    <entry key="181" type="xstring" value="GOLD"/>
                    <entry key="182" type="xstring" value="GOOGL"/>
                    <entry key="183" type="xstring" value="GPN"/>
                    <entry key="184" type="xstring" value="GRMN"/>
                    <entry key="185" type="xstring" value="GS"/>
                    <entry key="186" type="xstring" value="GSK"/>
                    <entry key="187" type="xstring" value="GWW"/>
                    <entry key="188" type="xstring" value="HAL"/>
                    <entry key="189" type="xstring" value="HCA"/>
                    <entry key="190" type="xstring" value="HD"/>
                    <entry key="191" type="xstring" value="HDB"/>
                    <entry key="192" type="xstring" value="HEI"/>
                    <entry key="193" type="xstring" value="HES"/>
                    <entry key="194" type="xstring" value="HIG"/>
                    <entry key="195" type="xstring" value="HLT"/>
                    <entry key="196" type="xstring" value="HMC"/>
                    <entry key="197" type="xstring" value="HON"/>
                    <entry key="198" type="xstring" value="HPE"/>
                    <entry key="199" type="xstring" value="HPQ"/>
                    <entry key="200" type="xstring" value="HSBC"/>
                    <entry key="201" type="xstring" value="HSY"/>
                    <entry key="202" type="xstring" value="HUBS"/>
                    <entry key="203" type="xstring" value="HUM"/>
                    <entry key="204" type="xstring" value="HWM"/>
                    <entry key="205" type="xstring" value="IBKR"/>
                    <entry key="206" type="xstring" value="IBM"/>
                    <entry key="207" type="xstring" value="IBN"/>
                    <entry key="208" type="xstring" value="ICE"/>
                    <entry key="209" type="xstring" value="ICLR"/>
                    <entry key="210" type="xstring" value="IDXX"/>
                    <entry key="211" type="xstring" value="IFF"/>
                    <entry key="212" type="xstring" value="IMO"/>
                    <entry key="213" type="xstring" value="INFY"/>
                    <entry key="214" type="xstring" value="ING"/>
                    <entry key="215" type="xstring" value="INTC"/>
                    <entry key="216" type="xstring" value="INTU"/>
                    <entry key="217" type="xstring" value="INVH"/>
                    <entry key="218" type="xstring" value="IQV"/>
                    <entry key="219" type="xstring" value="IR"/>
                    <entry key="220" type="xstring" value="ISRG"/>
                    <entry key="221" type="xstring" value="IT"/>
                    <entry key="222" type="xstring" value="ITUB"/>
                    <entry key="223" type="xstring" value="ITW"/>
                    <entry key="224" type="xstring" value="IX"/>
                    <entry key="225" type="xstring" value="JCI"/>
                    <entry key="226" type="xstring" value="JD"/>
                    <entry key="227" type="xstring" value="JNJ"/>
                    <entry key="228" type="xstring" value="JPM"/>
                    <entry key="229" type="xstring" value="KDP"/>
                    <entry key="230" type="xstring" value="KEYS"/>
                    <entry key="231" type="xstring" value="KHC"/>
                    <entry key="232" type="xstring" value="KKR"/>
                    <entry key="233" type="xstring" value="KLAC"/>
                    <entry key="234" type="xstring" value="KMB"/>
                    <entry key="235" type="xstring" value="KMI"/>
                    <entry key="236" type="xstring" value="KO"/>
                    <entry key="237" type="xstring" value="KR"/>
                    <entry key="238" type="xstring" value="LEN"/>
                    <entry key="239" type="xstring" value="LHX"/>
                    <entry key="240" type="xstring" value="LIN"/>
                    <entry key="241" type="xstring" value="LLY"/>
                    <entry key="242" type="xstring" value="LMT"/>
                    <entry key="243" type="xstring" value="LNG"/>
                    <entry key="244" type="xstring" value="LOW"/>
                    <entry key="245" type="xstring" value="LRCX"/>
                    <entry key="246" type="xstring" value="LULU"/>
                    <entry key="247" type="xstring" value="LVS"/>
                    <entry key="248" type="xstring" value="LYB"/>
                    <entry key="249" type="xstring" value="LYG"/>
                    <entry key="250" type="xstring" value="LYV"/>
                    <entry key="251" type="xstring" value="MA"/>
                    <entry key="252" type="xstring" value="MAR"/>
                    <entry key="253" type="xstring" value="MCD"/>
                    <entry key="254" type="xstring" value="MCHP"/>
                    <entry key="255" type="xstring" value="MCK"/>
                    <entry key="256" type="xstring" value="MCO"/>
                    <entry key="257" type="xstring" value="MDB"/>
                    <entry key="258" type="xstring" value="MDLZ"/>
                    <entry key="259" type="xstring" value="MDT"/>
                    <entry key="260" type="xstring" value="MELI"/>
                    <entry key="261" type="xstring" value="MET"/>
                    <entry key="262" type="xstring" value="META"/>
                    <entry key="263" type="xstring" value="MFC"/>
                    <entry key="264" type="xstring" value="MFG"/>
                    <entry key="265" type="xstring" value="MLM"/>
                    <entry key="266" type="xstring" value="MMC"/>
                    <entry key="267" type="xstring" value="MMM"/>
                    <entry key="268" type="xstring" value="MO"/>
                    <entry key="269" type="xstring" value="MOH"/>
                    <entry key="270" type="xstring" value="MPLX"/>
                    <entry key="271" type="xstring" value="MPWR"/>
                    <entry key="272" type="xstring" value="MRK"/>
                    <entry key="273" type="xstring" value="MRVL"/>
                    <entry key="274" type="xstring" value="MS"/>
                    <entry key="275" type="xstring" value="MSCI"/>
                    <entry key="276" type="xstring" value="MSFT"/>
                    <entry key="277" type="xstring" value="MSI"/>
                    <entry key="278" type="xstring" value="MT"/>
                    <entry key="279" type="xstring" value="MTB"/>
                    <entry key="280" type="xstring" value="MTD"/>
                    <entry key="281" type="xstring" value="MU"/>
                    <entry key="282" type="xstring" value="MUFG"/>
                    <entry key="283" type="xstring" value="NDAQ"/>
                    <entry key="284" type="xstring" value="NEE"/>
                    <entry key="285" type="xstring" value="NEM"/>
                    <entry key="286" type="xstring" value="NFLX"/>
                    <entry key="287" type="xstring" value="NGG"/>
                    <entry key="288" type="xstring" value="NKE"/>
                    <entry key="289" type="xstring" value="NOC"/>
                    <entry key="290" type="xstring" value="NOK"/>
                    <entry key="291" type="xstring" value="NOW"/>
                    <entry key="292" type="xstring" value="NSC"/>
                    <entry key="293" type="xstring" value="NTES"/>
                    <entry key="294" type="xstring" value="NTR"/>
                    <entry key="295" type="xstring" value="NUE"/>
                    <entry key="296" type="xstring" value="NVO"/>
                    <entry key="297" type="xstring" value="NVR"/>
                    <entry key="298" type="xstring" value="NVS"/>
                    <entry key="299" type="xstring" value="NWG"/>
                    <entry key="300" type="xstring" value="NXPI"/>
                    <entry key="301" type="xstring" value="O"/>
                    <entry key="302" type="xstring" value="ODFL"/>
                    <entry key="303" type="xstring" value="OKE"/>
                    <entry key="304" type="xstring" value="ON"/>
                    <entry key="305" type="xstring" value="ORAN"/>
                    <entry key="306" type="xstring" value="ORCL"/>
                    <entry key="307" type="xstring" value="OXY"/>
                    <entry key="308" type="xstring" value="PANW"/>
                    <entry key="309" type="xstring" value="PAYX"/>
                    <entry key="310" type="xstring" value="PBR"/>
                    <entry key="311" type="xstring" value="PCAR"/>
                    <entry key="312" type="xstring" value="PCG"/>
                    <entry key="313" type="xstring" value="PDD"/>
                    <entry key="314" type="xstring" value="PEG"/>
                    <entry key="315" type="xstring" value="PEP"/>
                    <entry key="316" type="xstring" value="PFE"/>
                    <entry key="317" type="xstring" value="PG"/>
                    <entry key="318" type="xstring" value="PGR"/>
                    <entry key="319" type="xstring" value="PH"/>
                    <entry key="320" type="xstring" value="PKX"/>
                    <entry key="321" type="xstring" value="PLD"/>
                    <entry key="322" type="xstring" value="PM"/>
                    <entry key="323" type="xstring" value="PNC"/>
                    <entry key="324" type="xstring" value="PPG"/>
                    <entry key="325" type="xstring" value="PPL"/>
                    <entry key="326" type="xstring" value="PRU"/>
                    <entry key="327" type="xstring" value="PSA"/>
                    <entry key="328" type="xstring" value="PSX"/>
                    <entry key="329" type="xstring" value="PUK"/>
                    <entry key="330" type="xstring" value="PWR"/>
                    <entry key="331" type="xstring" value="PXD"/>
                    <entry key="332" type="xstring" value="PYPL"/>
                    <entry key="333" type="xstring" value="QCOM"/>
                    <entry key="334" type="xstring" value="QSR"/>
                    <entry key="335" type="xstring" value="RACE"/>
                    <entry key="336" type="xstring" value="RCI"/>
                    <entry key="337" type="xstring" value="RCL"/>
                    <entry key="338" type="xstring" value="REGN"/>
                    <entry key="339" type="xstring" value="RELX"/>
                    <entry key="340" type="xstring" value="RIO"/>
                    <entry key="341" type="xstring" value="RJF"/>
                    <entry key="342" type="xstring" value="RMD"/>
                    <entry key="343" type="xstring" value="ROK"/>
                    <entry key="344" type="xstring" value="ROL"/>
                    <entry key="345" type="xstring" value="ROST"/>
                    <entry key="346" type="xstring" value="RSG"/>
                    <entry key="347" type="xstring" value="RTX"/>
                    <entry key="348" type="xstring" value="RY"/>
                    <entry key="349" type="xstring" value="RYAAY"/>
                    <entry key="350" type="xstring" value="SAN"/>
                    <entry key="351" type="xstring" value="SAP"/>
                    <entry key="352" type="xstring" value="SBAC"/>
                    <entry key="353" type="xstring" value="SBUX"/>
                    <entry key="354" type="xstring" value="SCCO"/>
                    <entry key="355" type="xstring" value="SCHW"/>
                    <entry key="356" type="xstring" value="SE"/>
                    <entry key="357" type="xstring" value="SGEN"/>
                    <entry key="358" type="xstring" value="SHEL"/>
                    <entry key="359" type="xstring" value="SHOP"/>
                    <entry key="360" type="xstring" value="SHW"/>
                    <entry key="361" type="xstring" value="SLB"/>
                    <entry key="362" type="xstring" value="SLF"/>
                    <entry key="363" type="xstring" value="SMFG"/>
                    <entry key="364" type="xstring" value="SNAP"/>
                    <entry key="365" type="xstring" value="SNPS"/>
                    <entry key="366" type="xstring" value="SNY"/>
                    <entry key="367" type="xstring" value="SO"/>
                    <entry key="368" type="xstring" value="SONY"/>
                    <entry key="369" type="xstring" value="SPG"/>
                    <entry key="370" type="xstring" value="SPGI"/>
                    <entry key="371" type="xstring" value="SPLK"/>
                    <entry key="372" type="xstring" value="SPOT"/>
                    <entry key="373" type="xstring" value="SQ"/>
                    <entry key="374" type="xstring" value="SRE"/>
                    <entry key="375" type="xstring" value="STE"/>
                    <entry key="376" type="xstring" value="STLA"/>
                    <entry key="377" type="xstring" value="STM"/>
                    <entry key="378" type="xstring" value="STT"/>
                    <entry key="379" type="xstring" value="STZ"/>
                    <entry key="380" type="xstring" value="SU"/>
                    <entry key="381" type="xstring" value="SYK"/>
                    <entry key="382" type="xstring" value="SYY"/>
                    <entry key="383" type="xstring" value="T"/>
                    <entry key="384" type="xstring" value="TAK"/>
                    <entry key="385" type="xstring" value="TCOM"/>
                    <entry key="386" type="xstring" value="TD"/>
                    <entry key="387" type="xstring" value="TDG"/>
                    <entry key="388" type="xstring" value="TEAM"/>
                    <entry key="389" type="xstring" value="TEF"/>
                    <entry key="390" type="xstring" value="TEL"/>
                    <entry key="391" type="xstring" value="TFC"/>
                    <entry key="392" type="xstring" value="TGT"/>
                    <entry key="393" type="xstring" value="TJX"/>
                    <entry key="394" type="xstring" value="TLK"/>
                    <entry key="395" type="xstring" value="TM"/>
                    <entry key="396" type="xstring" value="TMO"/>
                    <entry key="397" type="xstring" value="TMUS"/>
                    <entry key="398" type="xstring" value="TRGP"/>
                    <entry key="399" type="xstring" value="TRI"/>
                    <entry key="400" type="xstring" value="TROW"/>
                    <entry key="401" type="xstring" value="TRP"/>
                    <entry key="402" type="xstring" value="TRV"/>
                    <entry key="403" type="xstring" value="TS"/>
                    <entry key="404" type="xstring" value="TSCO"/>
                    <entry key="405" type="xstring" value="TSLA"/>
                    <entry key="406" type="xstring" value="TSM"/>
                    <entry key="407" type="xstring" value="TT"/>
                    <entry key="408" type="xstring" value="TTD"/>
                    <entry key="409" type="xstring" value="TTE"/>
                    <entry key="410" type="xstring" value="TTWO"/>
                    <entry key="411" type="xstring" value="TU"/>
                    <entry key="412" type="xstring" value="TXN"/>
                    <entry key="413" type="xstring" value="UBS"/>
                    <entry key="414" type="xstring" value="UL"/>
                    <entry key="415" type="xstring" value="ULTA"/>
                    <entry key="416" type="xstring" value="UMC"/>
                    <entry key="417" type="xstring" value="UNH"/>
                    <entry key="418" type="xstring" value="UNP"/>
                    <entry key="419" type="xstring" value="UPS"/>
                    <entry key="420" type="xstring" value="URI"/>
                    <entry key="421" type="xstring" value="USB"/>
                    <entry key="422" type="xstring" value="V"/>
                    <entry key="423" type="xstring" value="VALE"/>
                    <entry key="424" type="xstring" value="VEEV"/>
                    <entry key="425" type="xstring" value="VICI"/>
                    <entry key="426" type="xstring" value="VLO"/>
                    <entry key="427" type="xstring" value="VMC"/>
                    <entry key="428" type="xstring" value="VOD"/>
                    <entry key="429" type="xstring" value="VRSK"/>
                    <entry key="430" type="xstring" value="VRSN"/>
                    <entry key="431" type="xstring" value="VRTX"/>
                    <entry key="432" type="xstring" value="VZ"/>
                    <entry key="433" type="xstring" value="WAB"/>
                    <entry key="434" type="xstring" value="WBD"/>
                    <entry key="435" type="xstring" value="WCN"/>
                    <entry key="436" type="xstring" value="WDAY"/>
                    <entry key="437" type="xstring" value="WDS"/>
                    <entry key="438" type="xstring" value="WEC"/>
                    <entry key="439" type="xstring" value="WELL"/>
                    <entry key="440" type="xstring" value="WFC"/>
                    <entry key="441" type="xstring" value="WIT"/>
                    <entry key="442" type="xstring" value="WM"/>
                    <entry key="443" type="xstring" value="WMB"/>
                    <entry key="444" type="xstring" value="WMT"/>
                    <entry key="445" type="xstring" value="WPM"/>
                    <entry key="446" type="xstring" value="WST"/>
                    <entry key="447" type="xstring" value="WTW"/>
                    <entry key="448" type="xstring" value="WY"/>
                    <entry key="449" type="xstring" value="XEL"/>
                    <entry key="450" type="xstring" value="XOM"/>
                    <entry key="451" type="xstring" value="XYL"/>
                    <entry key="452" type="xstring" value="YUM"/>
                    <entry key="453" type="xstring" value="ZBH"/>
                    <entry key="454" type="xstring" value="ZS"/>
                    <entry key="455" type="xstring" value="ZTS"/>
                    <entry key="456" type="xstring" value="MRNA"/>
                    <entry key="457" type="xstring" value="PDX"/>
                    <entry key="458" type="xstring" value="DOW"/>
                    <entry key="459" type="xstring" value="TW"/>
                    <entry key="460" type="xstring" value="ALC"/>
                    <entry key="461" type="xstring" value="PINS"/>
                    <entry key="462" type="xstring" value="ZM"/>
                    <entry key="463" type="xstring" value="UBER"/>
                    <entry key="464" type="xstring" value="CTVA"/>
                    <entry key="465" type="xstring" value="CRWD"/>
                    <entry key="466" type="xstring" value="NET"/>
                    <entry key="467" type="xstring" value="DDOG"/>
                    <entry key="468" type="xstring" value="BNTX"/>
                    <entry key="469" type="xstring" value="CARR"/>
                    <entry key="470" type="xstring" value="OTIS"/>
                    <entry key="471" type="xstring" value="LI"/>
                    <entry key="472" type="xstring" value="BEKE"/>
                    <entry key="473" type="xstring" value="SNOW"/>
                    <entry key="474" type="xstring" value="PLTR"/>
                    <entry key="475" type="xstring" value="DASH"/>
                    <entry key="476" type="xstring" value="ABNB"/>
                    <entry key="477" type="xstring" value="SYM"/>
                    <entry key="478" type="xstring" value="RBLX"/>
                    <entry key="479" type="xstring" value="CPNG"/>
                    <entry key="480" type="xstring" value="COIN"/>
                    <entry key="481" type="xstring" value="GFS"/>
                    <entry key="482" type="xstring" value="NU"/>
                    <entry key="483" type="xstring" value="CEG"/>
                    <entry key="484" type="xstring" value="HLN"/>
                    <entry key="485" type="xstring" value="MBLY"/>
                    <entry key="486" type="xstring" value="GEHC"/>
                    <entry key="487" type="xstring" value="KVUE"/>
                    <entry key="488" type="xstring" value="ARM"/>
                </config>
                <entry key="includeUnknownColumns" type="xboolean" value="false"/>
            </config>
            <config key="typeFilter">
                <config key="selectedTypes">
                    <entry key="array-size" type="xint" value="0"/>
                </config>
            </config>
        </config>
        <entry key="maxRows" type="xint" value="1000000"/>
        <entry key="title" type="xstring" value="Trends in Stock Prices"/>
        <entry key="axisExtentMethod" type="xstring" value="AUTO"/>
        <config key="manualAxisLimits">
            <entry key="xAxisManualMin" type="xdouble" value="0.0"/>
            <entry key="xAxisManualMax" type="xdouble" value="100.0"/>
            <entry key="yAxisManualMin" type="xdouble" value="0.0"/>
            <entry key="yAxisManualMax" type="xdouble" value="100.0"/>
        </config>
        <entry key="xAxisLabel" type="xstring" value="Date"/>
        <entry key="yAxisLabel" type="xstring" value="moving averages"/>
        <entry key="yAxisScale" type="xstring" value="VALUE"/>
        <entry key="lineSize" type="xint" value="2"/>
        <entry key="showDataPointMarkers" type="xboolean" value="false"/>
        <entry key="dataPointMarkerSize" type="xint" value="5"/>
        <entry key="timeFormat" type="xstring" value=""/>
        <entry key="allowImageDownload" type="xboolean" value="true"/>
        <entry key="enableDataZoom" type="xboolean" value="true"/>
        <entry key="showTooltip" type="xboolean" value="true"/>
        <entry key="enableAnimation" type="xboolean" value="true"/>
    </config>
    <config key="view_variables">
        <entry key="version" type="xstring" value="V_2019_09_13"/>
        <config key="tree">
            <config key="yAxisColumn">
                <config key="manualFilter">
                    <config key="manuallySelected">
                        <entry key="used_variable" type="xstring" value="filter"/>
                        <entry key="exposed_variable" type="xstring" isnull="true" value=""/>
                        <entry key="used_variable_flawed" type="xboolean" value="false"/>
                    </config>
                </config>
            </config>
        </config>
    </config>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value=""/>
        <entry key="contentType" type="xstring" value="text/plain"/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="1363"/>
        <entry key="y-coordinate" type="xint" value="119"/>
        <entry key="width" type="xint" value="104"/>
        <entry key="height" type="xint" value="13"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="16777215"/>
        <entry key="defFontSize" type="xint" value="11"/>
        <entry key="annotation-version" type="xint" value="20230412"/>
        <config key="styles"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.views.node.lineplot.LinePlotNodeFactory"/>
    <entry key="node-name" type="xstring" value="Line Plot"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Views"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base.views"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.3.2.v202409040940"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Views"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.views.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.3.2.v202409040940"/>
    <config key="factory_settings"/>
    <config key="node_creation_config">
        <config key="Input Table"/>
        <config key="Output Image"/>
    </config>
    <entry key="name" type="xstring" value="Line Plot"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports"/>
    <config key="internalObjects">
        <entry key="location" type="xstring" value="internalTables"/>
        <config key="content">
            <config key="object_0">
                <entry key="index" type="xint" value="0"/>
                <entry key="type" type="xstring" value="table"/>
                <entry key="table_dir_location" type="xstring" value="object_0"/>
            </config>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="f8a5d7b3-1c96-4bcd-980a-2549cea8c0f5"/>
    </config>
</config>
